<div *ngIf="university" class="margin">
  <div class="left">
      <h2>{{university.name}}</h2>
      <div class="description">
        {{university.descriptionText}}
      </div>
  </div>
  <div class="right">
    <div class="bigImage">
      <img src="../../assets/images/app-component/university-general/{{university.id}}/1.JPG">
    </div>
    <div class="smallImages">
        <img class="marginRight" src="../../assets/images/app-component/university-general/{{university.id}}/2.JPG">
        <img class="marginRight" src="../../assets/images/app-component/university-general/{{university.id}}/3.JPG">
        <img src="../../assets/images/app-component/university-general/{{university.id}}/4.JPG">
    </div>
  </div>
</div>