<div *ngIf="university" class="margin">
  <div class="university-description">
    <!-- Name der Universität-->
    <h2>{{university.name}}</h2>
    <div class="university-text">
      <!-- Beschreibungstext -->
      {{university.descriptionText}}
    </div>
  </div>

  <!-- Bilder -->
  <div class="university-pictures">
    <div>
      <img src="../../assets/images/app-component/university-general/{{university.id}}/1.JPG">
    </div>
    <div class="small-images">
      <img src="../../assets/images/app-component/university-general/{{university.id}}/2.JPG">
      <img src="../../assets/images/app-component/university-general/{{university.id}}/3.JPG">
      <img src="../../assets/images/app-component/university-general/{{university.id}}/4.JPG">
    </div>
  </div>

</div>