<!-- page that shows you are completed -->
<div class="margin application-report">
  <div class="bold-L blue paragraph">Thank you for applying</div>
  <div class="italic-L blue">Your application has been sent to the International Office and will be processed later.</div>
  <p class="regular-M black ">We wish you the best of luck!</p>
  <p class="regular-M black">To continue, please complete your application in the next few steps.</p>
  <a routerLink="/profile/progress">
    <button class="button">complete application</button>
  </a>
</div>