<div class="margin-detail">
  <!-- <div class="exp-studycourse">{{experience.name}}</div> -->
  <div class="bold-L blue">Name des Studenten</div>
  <div class="light-M blue">Studiengang</div>
</div>
<div class="detail-information">
  <div class="detail-information-section">
    <div>
      <div class="bold-S black"> Basic Information </div>
      <div class="detail-information-category bold-S blue ">
        <ul>
          <li>Name of host university</li>
          <li>Study course</li>
          <li>Duration</li>
          <li>City</li>
          <li>Country</li>
          <br>
          <li>Reasons for going abroad</li>
        </ul>
      </div>
      <div class="regular-S black basicinfo">
        <ul>
          <li>University of Technology</li>
          <li>Visual Communication</li>
          <li>WiSe, 24.07.2016 – 18.12.2016</li>
          <li>Sydney</li>
          <li>Australia</li>
          <br>
          <li>Living in another country</li>
          <li> Being independent</li>
          <li> Practical experiences</li>
          <li>Languages learning</li>
          <li> Meet different cultures</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="bold-S black"> Rating </div>
      <div class="detail-information-category bold-S blue">
        <ul>
          <li>Finding information about the study course </li>
          <br>
          <li>Appliance at the THI</li>
          <li class="regular-S blue">Getting all neccessary informations</li>
          <li class="regular-S blue">User Experience of the appliance tools</li>
          <br>
          <li>Support before being abroad </li>
          <li class="regular-S blue">Technische Hochschule Ingolstadt</li>
          <li class="regular-S blue">University of Technology </li>
          <br>
          <li>Support while being abroad </li>
          <li class="regular-S blue">Technische Hochschule Ingolstadt</li>
          <li class="regular-S blue">University of Technology </li>

        </ul>
      </div>
      <div class="regular-S black rating">
        <ul>
          <li>Sterne</li>
          <br>
          <br>
          <li>Sterne</li>
          <li>Sterne</li>
          <br>
          <br>
          <li>Sterne</li>
          <li>Sterne</li>
          <br>
          <br>
          <li>Sterne</li>
          <li>Sterne</li>
        </ul>
      </div>
    </div>
    <div>
      <br>
      <div class="detail-information-category bold-S blue">
        <ul>
          <li>Learning Agreement </li>
          <br>
          <li>Academical quality</li>
          <li class="regular-S blue">Didactiv</li>
          <li class="regular-S blue">Language</li>
          <li class="regular-S blue">Content</li>
          <li class="regular-S blue">Level in comparison to THI</li>
          <br>
          <li>Reliability of course offers </li>

        </ul>
      </div>
      <div class="regular-S black rating">
        <ul>
          <li>Sterne</li>
          <br>
          <br>
          <li>Sterne</li>
          <li>Sterne</li>
          <li>Sterne</li>
          <li>Sterne</li>
          <br>
          <li>Sterne</li>
        </ul>
      </div>

    </div>
  </div>
</div>
<div class=detail-report>
  <div class="italic-L blue">„It was one of the best experiences in my life!“</div>
  <p class="regular-S black">My first week at UTS was full of new impressions. The orientation week provided a wide variety of social events and was
    really helpful to make new contacts. However, you have to jump over your own shadow and kinda come out of your comfort
    zone to speak up to everyone in order to find friends. Everyone was in the same boat and was really open-minded, thus
    it was easy to find new friends. Ultimately, I lived with some other exchange students in a nice flat in Coogee, literally
    one minute from the beach.<br> It was the right decision for me not to stay in the UTS Housing as I wanted to live near the
    beach. Sydney itself is great, offering even more than expected. It’s a good combination of a busy city life, contrasting
    with the calm and stunning beaches in the suburbs. Therefore, I chose to live once near the beach as we don’t have any
    beaches in Switzerland while studying in the city centre. Whilst people take the beaches here almost for granted, it
    was really special for me to wake up and walk out the door, seeing the beach every day. It’s a feeling full of freedom
    and happiness. </p>

</div>