@import '../../../../assets/GlobalScss/var.scss';



// Margin der Überschrift 
.margin-detail{
    margin: 3% 4% 1% 4%; 

}


.detail-information{
    background-color: $move-grey;
    width: 100%;   
    padding: 1% 4%;
    line-height: $line-height;
}

.detail-information-section {
    display: flex;
    flex-flow: row wrap;   
}

.detail-information-section > div {     
    text-align: left;
    width: 33%;   
    min-width: 300px;
  } 


 .detail-report{
      margin: 2% 20%;
      line-height: $line-height;
  }

  tr td:first-child {
    text-align: right;
    padding-right: 18px;
    color: $move-blue;
    font-size: $font-size-small;
    font-weight: bold;    
}

.subcategory td:first-child  {
   font-weight: lighter; 
}
