<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
  crossorigin="anonymous">
<div class="margin-detail"> 
  <div class="bold-L blue">Name des Studenten</div>
  <div class="light-M blue">Studiengang</div>
</div>
<div class="detail-information">
  <div class="detail-information-section regular-S black">
    <div>      
      <div class="bold-S black">Basic Information</div>
      <table>
        <tr>
          <td>Name of host university</td>
          <td>University of Technology</td>
        </tr>
        <tr>
          <td>Study course</td>
          <td>Visual Communication</td>
        </tr>
        <tr>
          <td>Duration</td>
          <td>WiSe, 24.07.2016 - 18.12.2016</td>
        </tr>
        <tr>
          <td>Sydney</td>
          <td>University of Technology</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>Australia</td>
        </tr>
        <br>
        <tr>
          <td>Reasons for going abroad</td>
          <td>Living in another country</td>
        </tr>
        <tr>
          <td></td>
          <td> Being independent</td>
        </tr>
        <tr>
          <td></td>
          <td>Practical experiences</td>
        </tr>
        <tr>
          <td></td>
          <td> Languages learning</td>
        </tr>
        <tr>
          <td></td>
          <td>Meet different culutures</td>
        </tr>
      </table>     
    </div> 
    <div>      
      <div class="bold-S black">Rating</div>
      <table>
        <tr>
          <td>Finding information about the study course</td>
          <td><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i></td>
        </tr><br>
        <tr>
          <td>Appliance at the THI</td>
          <td></td>
        </tr>
        <tr class="subcategory">
          <td>Getting all necessary information</td>
          <td> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></td>
        </tr>
        <tr class="subcategory">
          <td>User Experience of the appliance tools</td>
          <td> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></td>
        </tr><br>
        <tr>
          <td>Support before being abroad</td>
          <td></td>
        </tr>      
        <tr class="subcategory">
          <td>Technische Hochschule Ingolstadt</td>
          <td><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></td>
        </tr>
        <tr class="subcategory">
          <td>University of Technology</td>
          <td><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i></td>
        </tr><br>
        <tr>
          <td>Support while being abroad</td>
          <td></td>
        </tr>
        <tr class="subcategory">
          <td>Technische Hochschule Ingolstadt</td>
          <td><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i></td>
        </tr>
        <tr class="subcategory">
          <td>University of Technology</td>
          <td><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i></td>
        </tr>
      </table>     
    </div>    
    <div>      
      <div>&nbsp;</div>
      <table>
        <tr>
          <td>Learning Agreement</td>
          <td><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i></td>
        </tr><br>
        <tr>
          <td>Academical quality</td>
          <td></td>
        </tr>
        <tr class="subcategory">
          <td>Didactiv</td>
          <td> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i></td>
        </tr>
        <tr class="subcategory">
          <td>Language</td>
          <td> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i></td>
        </tr>
        <tr class="subcategory">
          <td>Content</td>
          <td> <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i></td>
        </tr>
        <tr class="subcategory">
          <td>Level in comparison to THI</td>
          <td> Comparable</td>
        </tr>
        <br>
        <tr>
          <td>Reliability of course offers</td>
          <td><i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i></td>
        </tr>        
      </table>     
    </div> 
  </div>
</div>
<div class=detail-report>
  <div class="italic-L blue">„It was one of the best experiences in my life!“</div>
  <p class="regular-S black">My first week at UTS was full of new impressions. The orientation week provided a wide variety of social events and was
    really helpful to make new contacts. However, you have to jump over your own shadow and kinda come out of your comfort
    zone to speak up to everyone in order to find friends. Everyone was in the same boat and was really open-minded, thus
    it was easy to find new friends. Ultimately, I lived with some other exchange students in a nice flat in Coogee, literally
    one minute from the beach.
    <br> It was the right decision for me not to stay in the UTS Housing as I wanted to live near the beach. Sydney itself is
    great, offering even more than expected. It’s a good combination of a busy city life, contrasting with the calm and stunning
    beaches in the suburbs. Therefore, I chose to live once near the beach as we don’t have any beaches in Switzerland while
    studying in the city centre. Whilst people take the beaches here almost for granted, it was really special for me to
    wake up and walk out the door, seeing the beach every day. It’s a feeling full of freedom and happiness. </p>

</div>