@import '../../../../assets/GlobalScss/var.scss';

.columns {
    display: flex;
}

.considerCol {
    margin: 0px 0.5%;
    flex-basis: 0;
    flex-grow: 1;
}

.considerCol p{
    margin-bottom: 10%;
}

.fact {
    display: flex;
    margin: 4%;
}

.factIcon {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 3rem;
}

.factText {
    flex-basis: 0;
    flex-grow: 5;
}