@import '../../../assets/GlobalScss/var.scss';


// .wrapper {
//     margin-left: auto;
//     margin-right: auto;
// }

/**********************/
/* NEXT STEP BUTTON */
/**********************/

.application-finish {
    width: 100%;
    text-align: center;

    button {
        min-width: 300px;
    }
}


/**********************/
/* PROGRESSBAR */
/**********************/

.application-progressbar-container {
    margin-left: 27%;
    margin-right: 27%;
    display: inline-block;
    margin-bottom: 5%;
}

.application-progressbar {
    counter-reset: step;
}

.application-progressbar li {
    list-style-type: none;
    line-height: 1.4;
    width: 15%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $move-blue;
}

.application-progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid $move-blue;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.application-progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: $move-blue;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.application-progressbar li:first-child:after {
    content: none;
}

.application-progressbar li.active {
    color: $move-orange;
}

.application-progressbar li.active:before {
    border-color: $move-orange;
}

// .application-progressbar li.active + li:after {
//     background-color: $move-orange;
// }


/**********************/
/* CONTENT */
/**********************/

.application-content {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: space-between;
}

.application-content>div:first-child {
    width: 100%;
    text-align: center;
}

.application {
    list-style: none;
    padding-left: 5px;
}


/**********************/
/* TASK LIST */
/**********************/

label span {
    display: inline-block;
}

li input {
    vertical-align: top;
    margin-top: 1.5%;
}




.scrollWindow {
    width: 700px;
    height: 300px;
    overflow: auto;
}

p {
    width: 700px;
}
h1{
    width: 500px;
}
.link {
    text-decoration: underline;
}
.nlinks {
    padding-left: 20px;
}

// Styling der Scrollbar der Universitätsliste
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    width: 4px;
    background-color: $move-lighter;
}
::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: $move-orange;
}
.list {
    padding-right: 20px;
    display: block;
}
a {
    line-height: 1.4;
}
.aOrange {
    line-height: 1.4;
    color: $move-orange;
}
.center {
    text-align: center;
    margin-top: 10%;
}