<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
  crossorigin="anonymous">

<div class="margin">

  <div class="title bold-L blue">
    Bachelor of Science in User Centered Design
  </div>

  <div class="flex-container">

    <div class="text halb">
      <div class="bold-S black">
        Desciption
      </div>
      <div class="par regular-S black">
        In Visual Communication students learn how to create visual messages and experiences that communicate information and ideas
        across many media. Students experiment with both traditional and emerging design practices, and develop a visual
        language that allows them to work across digital, physical and analogue media. This visual language is broad, encompassing
        typography, interaction and image-making. This degree prepares students for the evolving nature of design by engaging
        with the social, technological and ecological context of design practice. Graduates are industry-ready, thanks to
        their ability to articulate design practices and process, the degree‘s internship program, and the curriculum‘s emphasis
        on real-world problem solving.
      </div>
      <a class="bold-S">Study course page >></a>
    </div>

    <div class="rating halb flex-container Laufweite0">

      <div class="academicQuality flex-container ganz">
        <div class="regular-S black halb">
          <table>
            <tr>
              <td class="bold-S">Academic Quality</td>
            </tr>
            <tr>
              <td>Didactic</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>

            <tr>
              <td>Language</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>

            <tr>
              <td>Content</td>
              <td>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </td>
            </tr>

            <tr>
              <td>Level in comparison to THI</td>
              <td>Compareable</td>
            </tr>
          </table>
        </div>

        <div class="halb flex-container">
          <div class="now blue">
            13
            <br>movers now

          </div>
          <div class="movers">
            <img src="../../../../assets/images/icons/personenWarenHier.svg">
          </div>
          <div class="yet blue">
            24
            <br>movers yet
          </div>
        </div>
      </div>


      <div class="zitat ganz">
        <p class="italic-L aligncenter blue">"It was one of the best experiences in my life!"</p>
        <p class="regular-S alignright">Dora Delighted</p>
      </div>

    </div>
  </div>


  <div class="exp">
    <app-experiences-boxes _nghost-c0=""></app-experiences-boxes>
  </div>

  <div class="flex-container">
    <div class="halb">
      <div class="bold-S black">
        Tuition fees
      </div>
      <div class="par regular-S black">
        The cost per credit point for 2018 is $720. The total credit points are 144. You can find detailed information about your
        tuition fees on the
        <span class="bold-S blue">study course page >></span>
        <br> Esistimated you will have to pay a tuition fee of around $15.000 (Australian). Tuition fees for international students
        vary between courses, and from year to year, and must be paid in advance each session.
        <br> In addition to tuition fees, students may be required to pay a Student Services and Amenities Fee (SSAF). Textbooks
        and other course materials will also result in additional costs.
      </div>
      <div class="bold-S black">
        Admission requirements
      </div>
      <div class="par regular-S black">
        The English proficiency requirement for international students or local applicants with international qualifications is:
        Academic IELTS: 6.5 overall with a writing score of 6.0; or TOEFL: paper based: 550-583 overall with TWE of 4.5,
        internet based: 79-93 overall with a writing score of 21; or AE5: Pass; or PTE: 58-64; or CAE: 176-184.
      </div>
      <div class="bold-S blue">
        Find more detailed information about fees and requirements >>
      </div>

      <div class="flex-container">
        <div class="button bold-S white">
          Study course on UTS >>
        </div>
        <div class="button bold-S white">
          Add to Application >>
        </div>
      </div>


    </div>

    <div class="halb right">
      <div class="bigImage">
        <img src="../../assets/images/app-component/university-general/1/1.JPG">
      </div>
      <div class="smallImages">
        <img class="marginRight" src="../../assets/images/app-component/university-general/1/2.JPG">
        <img class="marginRight" src="../../assets/images/app-component/university-general/1/3.JPG">
        <img src="../../assets/images/app-component/university-general/1/4.JPG">
      </div>
    </div>
  </div>

</div>