<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9"
  crossorigin="anonymous">

<div class="margin">

  <div class="title bold-L blue">
    Bachelor of Science in User Centered Design
  </div>

  <div class="flex-container">

    <div class="text halb">
      <div class="bold-S black">
        Desciption
      </div>
      <div class="regular-S black">
        In Visual Communication students learn how to create visual messages and experiences that communicate information and ideas
        across many media. Students experiment with both traditional and emerging design practices, and develop a visual
        language that allows them to work across digital, physical and analogue media. This visual language is broad, encompassing
        typography, interaction and image-making. This degree prepares students for the evolving nature of design by engaging
        with the social, technological and ecological context of design practice. Graduates are industry-ready, thanks to
        their ability to articulate design practices and process, the degree‘s internship program, and the curriculum‘s emphasis
        on real-world problem solving.
      </div>
      <br>
      <a class="bold-S">Study course page >></a>
    </div>

    <div class="rating halb flex-container">

      <div class="regular-S blue halb">
        <table>
          <tr>
            <td class="bold-S">Academic Quality</td>
          </tr>
          <tr>
            <td>Didactic</td>
            <td>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </td>
          </tr>

          <tr>
            <td>Language</td>
            <td>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </td>
          </tr>

          <tr>
            <td>Content</td>
            <td>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </td>
          </tr>

          <tr>
            <td>Level in comparison to THI</td>
            <td>Compareable</td>
          </tr>
        </table>
      </div>

      <div class="halb flex-container">
        <div class="now">
          13 movers now
        </div>
        <img src="../../../../assets/images/icons/personenWarenHier.svg">
        <div class="yet">
          24 movers yet
        </div>
      </div>

    </div>

  </div>