@import '../../../../assets/GlobalScss/var.scss';
@import '../../../filter/filter.component.scss';
// @import 'compass';

body { 
    margin:0; 
    padding:0; 
}
#map { 
      position:absolute; 
      top:0; 
      bottom:0; 
      width:100%; }

#uniHover {
    position: absolute;
    z-index: 999999;
    // background-color: white;
    display: none;
    font-size: $font-size-small;

    img {
        height: 14px;
        width: auto;
    }
}

.map-universities{
    padding: 15px 5px; 
}



    .map-zooming-button {
        padding: 10px;       
        font-size: 24px;       
        color: $move-blue;
        border: none; 
        background: transparent; 
        display: block;        
    }
    .universities {
        width: 20%;       
        height: 100%;
        z-index: 3 !important;
        padding: 50px 60px 5px 10px ;    
        position: fixed !important;      
        left: 0; 
    //    gradient
        background: -moz-linear-gradient(left, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 78%, rgba(255,255,255,0.04) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 78%,rgba(255,255,255,0.04) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.6) 78%,rgba(255,255,255,0.04) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
    }
    
    
    .filter {
        width: 15%;       
        height: 100%;
        z-index: 3 !important;
        position: fixed !important;      
        padding: 50px 10px 5px 60px ;          
        right: 0;          
    //  gradient
        background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 11%, rgba(255,255,255,0.6) 32%, rgba(255,255,255,0.6) 99%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 11%,rgba(255,255,255,0.6) 32%,rgba(255,255,255,0.6) 99%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 11%,rgba(255,255,255,0.6) 32%,rgba(255,255,255,0.6) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6ffffff',GradientType=1 ); /* IE6-9 */
    }
#popupSection {
    animation: roll 3s infinite;

    position: fixed;
    top: calc(50% - 360px - 104px);

    height: 720px;
    left: calc(50vw - 400px);
    width: 800px;
    z-index: 999999;
    background-color: white;

    display: block;
    box-sizing: border-box;
    
    
    #wrapper{
        height: 100%;
        width: 100%;
        position: relative;
        display: block;
        header {
            position: absolute;
            top: 0px;
            width: 100%;
            height: 4rem;

            h2 {
                float: left;
                margin-left: 1.5em;
            }

            button {
                font-size: larger;
                float: right;

                height: 4rem;
                width: 4rem;
                border: none;
                background-color: white;
                cursor: pointer;
            }
            button:active, button:hover  {
                background-color: $move-orange;
                color: white;
                
            }
            button:focus {
                outline:0;
            }
        }
        
        main {
            position: absolute;
            top: 4rem;
            width: 100%;
            height: 80%;

            #mainUniInfo {
                color: black;
                padding: 0px 1.5rem;
            }
            div {
                img {
                    width: 100%;
                }
            }
        }

        #goToUniversity {
            position: absolute;
            bottom: 0px;
            width: 100%;
            
            text-align: center;
            background-color: $move-lighter;
            padding: 1rem 0rem;
            color: white;

        }
        #goToUniversity:hover {
            background-color: $move-orange;
        }
    }
    
} 


#backgroundOpacity {
    background-color: rgba($move-blue, 0.2);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}
