@import '../../../filter/filter.component.scss';

body { 
    margin:0; 
    padding:0; 
}
  #map { 
      position:absolute; 
      top:0; 
      bottom:0; 
      width:100%; }

    .coordBut {
        padding: 10px;
        border-radius: 3px;
        font-size: 12px;
        text-align: center;
        color: black;
        background: white;
    }

    .filter {
        width: 20%;       
        height: 100%;
        z-index: 5000 !important;
        position: absolute !important;
        background-color: white;
    }