<div id='map'></div>

<!-- Universities _____________________________________________ -->
<aside>
  <div class="map-universities regular-S">
    <app-searchbar id="map-searchbar"></app-searchbar>

    <!-- Filter  -->
    <div id="map-sorting">
      <ul>
        <li [class.active]="sclicked === sorting" (click)="sclicked = (sclicked === sorting ? null :sorting)" *ngFor="let sorting of sortings">{{sorting}}</li>
      </ul>
    </div>
    <!-- /Filter  -->

    <!-- Liste der Universitäten -->
    <ul class="map-universities-list bold-S blue">

      <li *ngFor="let university of unis">
        <div class="map-universities">
          <a id="linkToUni" routerLink="/studyAbroad/{{university.id}}/general">
            <div id="uniName" class="bold-M" data-lang="{{university.lang}}" data-id="{{university.lat}}" (mouseover)="onHoverList($event)">{{university.name}}</div>
            <br>
            <div id="uniLocation" class="regular-S hoverOrange" data-lang="{{university.lang}}" data-id="{{university.lat}}" (mouseover)="onHoverList($event)">
                {{university.country}}, {{university.city}}
            </div>
          </a>
        </div>
      </li>
      <!-- doppeltes Anzeigen der Liste  -->
      <li *ngFor="let university of unis">
          <div class="map-universities">
            <a id="linkToUni" routerLink="/studyAbroad/{{university.id}}/general">
              <div id="uniName" class="bold-M" data-lang="{{university.lang}}" data-id="{{university.lat}}" (mouseover)="onHoverList($event)">{{university.name}}</div>
              <br>
              <div id="uniLocation" class="regular-S hoverOrange" data-lang="{{university.lang}}" data-id="{{university.lat}}" (mouseover)="onHoverList($event)">
                  {{university.country}}, {{university.city}}
              </div>
            </a>          
        </div>
      </li>
       <!-- /doppeltes Anzeigen der Liste  -->

    </ul>
    <!-- /Liste der Universitäten -->
  </div>
</aside>
<!-- /Universities _____________________________________________ -->

<!-- Popup bei Klick auf Universitätsicon -->

<section id="map-unidescription" *ngIf="showPopup">
  <div id="unidescription-wrapper">

    <header>
      <button (click)="closeWindow()">x</button>
      <a routerLink="/studyAbroad/{{uni.id}}/general">
        <h2>{{uni.name}}</h2>
      </a>
    </header>

    <main>
      <div>
        <img src="../../assets/images/app-component/university-general/{{uni.id}}/1.JPG">
      </div>
      <div class="map-unidescription-text">
        <p class="regular-S">{{uniDescription}} </p>
      </div>
    </main>

    <a id="map-unidescription-linkto" routerLink="/studyAbroad/{{uni.id}}/general">Visit {{uni.name}} to apply</a>

  </div>
</section>
<div id="map-background-disabled" *ngIf="showPopup" (click)="closeWindow()"></div>
<!-- /Popup bei Klick auf Universitätsicon -->



<!-- Anzeigen des Universitätsnamen bei Hover  -->
<div id="map-hover-university" *ngIf="uni">
  {{uni.name}}
</div>
<!-- /Anzeigen des Universitätsnamen bei Hover  -->