<div id='map'></div>

<!-- Filter _____________________________________________ -->

<div class="filter regular-S">
  <app-searchbar></app-searchbar>
  <div>
    <div class="filter-category bold-S ">
      Sorting
    </div>
    <div class="filter-points">
      <li [class.active]="sclicked === sorting" (click)="sclicked = (sclicked === sorting ? null :sorting)" *ngFor="let sorting of sortings">{{sorting}}</li>
    </div>
    <div class="filter-category bold-S ">
      Language
    </div>
    <div class="filter-points">
      <li [class.active]="lclicked === language" (click)="lclicked = (lclicked === language ? null :language)" *ngFor="let language of languages | slice:0:3">{{language}}</li>
      <li (click)="toggle($event.target, 'Less...')" id="more"> More ... </li>
      <ng-container *ngIf="show">
        <li [class.active]="lclicked === language" (click)="lclicked = (lclicked === language ? null :language)" *ngFor="let language of languages  | slice:3">{{language}}</li>
      </ng-container>      
    </div>
  </div> 
</div>

<!-- /Filter _____________________________________________ -->

<!-- Universities _____________________________________________ -->
<div class="universities regular-S">
<ul class="unis bold-S blue">
  <li *ngFor="let university of unis">
    <div class="map-universities">
    <a routerLink="/studyAbroad/{{university.id}}/general"><span class="badge">{{university.id}}</span> {{university.name}} </a>
    <!-- <a routerLink="/studyAbroad/{{university.id}}/general"><span class="badge">{{university.id}}</span> {{university.name}} </a> -->
    <button class="map-zooming-button" data-lang="{{university.lang}}" data-id="{{university.lat}}" (click)="onClickMe($event)">Find!</button>
    <hr>
  </div>
  </li>
</ul>
</div>

<!-- /Universities _____________________________________________ -->

<section id="popupSection" *ngIf="showPopup">
    <div id="wrapper">
        <div id="closeButton" (click)="closeWindow()">
            x
        </div>

        {{uni.name}}
        <a routerLink="/studyAbroad/{{uni.id}}/general">Link zur uni</a>

    </div>
</section>
<div id="backgroundOpacity" *ngIf="showPopup" (click)="closeWindow()"></div>

<div id="uniHover" *ngIf="uni">
    {{uni.name}}
</div>
