
body { 
    margin:0; 
    padding:0; 
}
#map { 
      position:absolute; 
      top:0; 
      bottom:0; 
      width:100%; 
}
#popupSection {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999999;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: block;
}