// colors
$move-orange: #dc6413;
$move-blue: #0e5074;
$move-light: #6e96ac;
$move-lighter: #a3bcca;
// $move-lightblue: rgba(#85aabc, 0.5);
// $move-lightblue: #85aabc;

//typo
$font-size-small: 18pt; 
$font-size-regular: 24pt; 
$font-size-large: 30pt; 
$font-size-x-large: 1px; 
$font-size-xx-large: 1px; 

$text-color-bright: #ffffff; 
$text-color-dark: #000000;
$text-color-blue: #005075; 

//layout
$main-nav-height: 7vh;
$main-margin: 5%;

.margin {
    margin: $main-margin;
}