// colors
$move-orange: #dc6413;
$move-blue: #005075;
$move-light: rgba( $move-blue, 0.6 );

//typo
$font-size-small: 18pt; 
$font-size-regular: 24pt; 
$font-size-large: 30pt; 
$font-size-x-large: 1px; 
$font-size-xx-large: 1px; 

$text-color-bright: #ffffff; 
$text-color-dark: #000000;
$text-color-blue: #005075; 

//layout
$main-nav-height: 7vh;
$margin-left-right: 2%;