<div class="margin">
  <div class="float">
    <div class="row">
      <h1 class="bold-L blue">List of your favorite Universities</h1>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">Drag your favorite universities from here</div>
          <ul class="panel-body"  *ngFor="let uni of favorites; let i = index">
            <!-- <li class="button bold-S white" *ngFor="let uni of student.universities; let i = index" dnd-draggable [dragEnabled]="true"
              [dragData]="uni.name">
              {{ i + 1}} {{uni.name}}
            </li> -->
            <li class="button bold-S white" *ngIf="uni.isFav" dnd-draggable [dragEnabled]="true"
              [dragData]="uni.name">
              {{ i + 1}} {{uni.name}}
              <button class="delbutton" (click)="setAsNotFav(uni)">x</button>
            </li>
          </ul>
          <!-- <div class="panel-body" *ngFor="let uni of favorites; let i = index">
            <div class="button bold-S white" *ngIf="uni.isFav" dnd-draggable [dragEnabled]="true"
            [dragData]="uni.name">
            {{ i + 1}} {{uni.name}}
            <button class="delbutton" (click)="setAsNotFav(uni)">x</button>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="float">
    <div class="row">
      <h1 class="bold-L blue">Rank your favorite Universities</h1>
      <div class="col-sm-3">
        <div class="panel panel-default" dnd-droppable (onDropSuccess)="transferDataSuccess($event)">
          <div class="panel-heading">Place to drop - Items: {{receivedData.length}}</div>
          <div class="panel-body">
            <ul [hidden]="!receivedData.length > 0" dnd-sortable-container [sortableData]="receivedData">
              <li class="button bold-S white" *ngFor="let data of receivedData; let i = index" dnd-sortable [sortableIndex]="i">
                {{ i + 1}} {{ data.dragData }}
                <button class="delbutton" (click)="onDeleteUni(i)">x</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float">
    <h1 class="bold-L blue">Your progress</h1>
    <ul>
      <li>Your profile</li>
      <li>Rank your universities</li>
      <li>Scholarships</li>
      <li>Tell your experiences</li>
    </ul>
  </div>
  <div>
    <button (click)="loggy()">CLick mich</button>
  </div>
</div>