<nav id="main-nav">
  <a routerLink="/home" routerLinkActive="active-link" id="home">Move</a>
  <a routerLink="/internship" routerLinkActive="active-link" class="notHome">Internship</a>
  <a routerLink="/studyAbroad" routerLinkActive="active-link" class="notHome">Study Abroad</a>
  <a routerLink="/profile" routerLinkActive="active-link" class="notHome">Profile</a>
</nav>
<!--Da die Navigationsleiste Position: fixed ist, um immer oben zu stehen, wir ein Platzhalter div benötigt, der dafür sorgt dass alle anderen Seitenelemente nicht unter die
    Navigation rutschen. -->
<div class="placeholder"></div>