@import '../../assets/GlobalScss/var.scss';

.filter {
    width: 20%;       
    height: 500px;
    margin-left: 2%; 
}

.filter-points{
    margin-left: 40px;    
}

.filter-points li:last-child{
    margin-bottom: 20px; 
}

li {
    list-style: none; 
    cursor: pointer; 
}

li:hover{
   font-weight: bold;
}

.active {
    color: $move-orange; 
}


