@import '../../../assets/GlobalScss/var.scss';

.profile-user-data {
    width: 100vw;
    margin: 4rem 0px;
    margin-left: calc(-50vw + 50%);
    background-color: $move-grey;
    padding: 0px $main-margin;
}

.profile-user-data>div {
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
}

.profile-user-data>div>div {
    margin: 3vw;
}

#profilepic {
    width: 25vw;
    height: 100%;
}

.profile-detailed-user-data{
    width: 100%;
}

.profile-detailed-user-data>div {
    display: flex;
    margin-left: 25vw;
}


/**********************/
/* Tabellen */
/**********************/

table {
    margin-right: 30px;
}

tr td:first-child {
    text-align: right;
    padding-right: 10px;
    color: $move-blue;
}

button {
    border: none;
}

/**********************/
/* edit */
/**********************/

.logout {
    margin-left: 350px;
    padding-left: 60px;
    float: right;
}

