<div class="margin">
  <div *ngIf='student'>

  <div class="profile-user-data">
    <div>
      <img src="../../assets/images/profile/anna_adven.png" alt="profilepic">
      <div class="blue">
        <div class="bold-L">{{student.forename}} {{student.name}}</div>
        <div>{{student.subject}}</div>
        <div>EDIT BUTTON</div>
      </div>
    </div>
  </div>

  <div class="profile-detailed-user-data laufweite0">
    <div  class="regular-S">
      <table>
        <tr>
          <td class="bold-S blue">personal information</td>
        </tr>
        <tr>
          <td>birth date</td>
          <td>{{student.bday}}</td>
        </tr>

        <tr>
          <td>e-mail</td>
          <td>{{student.email}}</td>
        </tr>

        <tr>
          <td>mobile</td>
          <td>{{student.mobile}}</td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="bold-S blue">study information</td>
        </tr>
        <tr>
          <td>study-course</td>
          <td>{{student.subject}}</td>
        </tr>

        <tr>
          <td>study-progress</td>
          <td>{{student.studyProgress}}</td>
        </tr>

        <tr>
          <td>student id</td>
          <td>{{student.id}}</td>
        </tr>

        <tr>
          <td>going abroad</td>
          <td>{{student.goingAbroad}}</td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="bold-S blue">emergency contact</td>
        </tr>
        <tr>
          <td>first name</td>
          <td>Emer</td>
        </tr>

        <tr>
          <td>last name</td>
          <td>Gency</td>
        </tr>

        <tr>
          <td>e-mail</td>
          <td>emergency@thi.de</td>
        </tr>

        <tr>
          <td>mobile</td>
          <td>0815 666666</td>
        </tr>
      </table>
    </div>

  </div>

  </div>
</div>