@import '../../../assets/GlobalScss/var.scss';


.studentData {
    width: 100vw;
    margin: 4rem 0px;
    margin-left: calc(-50vw + 50%);
    background-color: $move-grey;
    padding: 0px $main-margin;
}

.studentData>div {
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
}

.studentData>div>div {
    margin: 3vw;
}

#profilepic {
    width: 25vw;
    height: 100%;
}

.detailedData{
    width: 100%;
}

.detailedData>div {
    display: flex;
    margin-left: 25vw;
}


/**********************/
/* Tabellen */
/**********************/

table {
    margin-right: 30px;
}

tr td:first-child {
    text-align: right;
    padding-right: 10px;
    color: $move-blue;
}

