<div class="margin">
  
  <div *ngIf='student'>
    <a routerLink="/home" (click)="logOut()">
      <div class="logout button bold-S white">
        Logout
      </div>
    </a>
    <div class="profile-user-data">
      <div>
        <img id="profilepic" src="../../assets/images/profile/anna_adven.png" alt="profilepic">
        <div class="blue">
          <div class="bold-L">{{student.forename}} {{student.name}}</div>
          <div>{{student.subject}}</div>
          <div>
            <button *ngIf="!edit" class="button grey-bg" (click)="edit = !edit">Edit</button>
            <button *ngIf="edit" class="button bold-S white" (click)="save()">save</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- edit = false -> show data from database of current student -->
  <div *ngIf="!edit" class="profile-detailed-user-data laufweite0">
    <div class="regular-S">
      <table>
        <tr>
          <td class="bold-S blue">personal information</td>
        </tr>
        <tr>
          <td>birth date</td>
          <td>{{student.bday}}</td>
        </tr>

        <tr>
          <td>e-mail</td>
          <td>{{student.email}}</td>
        </tr>

        <tr>
          <td>mobile</td>
          <td>{{student.mobile}}</td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="bold-S blue">study information</td>
        </tr>
        <tr>
          <td>study-course</td>
          <td>{{student.subject}}</td>
        </tr>

        <tr>
          <td>study-progress</td>
          <td>{{student.studyProgress}}</td>
        </tr>

        <tr>
          <td>student id</td>
          <td>{{student.id}}</td>
        </tr>

        <tr>
          <td>going abroad</td>
          <td>{{student.goingAbroad}}</td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="bold-S blue">emergency contact</td>
        </tr>
        <tr>
          <td>first name</td>
          <td>{{student.emergFirstName}}</td>
        </tr>

        <tr>
          <td>last name</td>
          <td>{{student.emergLastName}}</td>
        </tr>

        <tr>
          <td>e-mail</td>
          <td>{{student.emergEmail}}</td>
        </tr>

        <tr>
          <td>mobile</td>
          <td>{{student.emergMobile}}</td>
        </tr>
      </table>
    </div>  
  </div>

  <!-- edit = true -> update information -->
  <div *ngIf="edit" class="profile-detailed-user-data laufweite0">

    <div class="regular-S">
      <table>
        <tr>
          <td class="bold-S blue">personal information</td>
        </tr>
        <tr>
          <td>birth date</td>
          <td>{{student.bday}}</td>
        </tr>

        <tr>
          <td>e-mail</td>
          <td>
            <input [(ngModel)]="student.email" placeholder="student.email" />
          </td>
        </tr>

        <tr>
          <td>mobile</td>
          <td>
            <input [(ngModel)]="student.mobile" placeholder="student.mobile" />
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="bold-S blue">study information</td>
        </tr>
        <tr>
          <td>study-course</td>
          <td>{{student.subject}}</td>
        </tr>

        <tr>
          <td>study-progress</td>
          <td>{{student.studyProgress}}</td>
        </tr>

        <tr>
          <td>student id</td>
          <td>{{student.id}}</td>
        </tr>

        <tr>
          <td>going abroad</td>
          <td>
            <input [(ngModel)]="student.goingAbroad" placeholder="student.goingAbroad" />
          </td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="bold-S blue">emergency contact</td>
        </tr>
        <tr>
          <td>first name</td>
          <td>
            <input [(ngModel)]="student.emergFirstName" placeholder="student.emergFirstName" />
          </td>
        </tr>

        <tr>
          <td>last name</td>
          <td>
            <input [(ngModel)]="student.emergLastName" placeholder="student.emergLastName" />
          </td>
        </tr>

        <tr>
          <td>e-mail</td>
          <td>
            <input [(ngModel)]="student.emergEmail" placeholder="student.emergEmail" />
          </td>
        </tr>

        <tr>
          <td>mobile</td>
          <td>
            <input [(ngModel)]="student.emergMobile" placeholder="student.emergMobile" />
          </td>
        </tr>
      </table>
    </div>

  </div>
  <!-- /Bearbeitungsbereich der Profildaten ____________________________________________________ -->

</div>