<div *ngIf='student'>
<div class="detail-information">
  <div class="content">
    <img src="../../assets/images/profile/anna_adven.png" alt="your_pic" width="100">
    <div class="studentData">
      <div class="detail-name">{{student.forename}} {{student.name}}
      </div>
      <div class="detail-studycourse">{{student.subject}}
      </div>
      <div class="detail-studycourse">EDIT BUTTON
      </div>
    </div>
  </div>
</div>
<div class="detail-information2">
  <div class="detail-information-section">
    <div>
      <div class=".bold-L blue">Personal Information</div>
      <div class="detail-information-category regular-S blue">
        <ul>
          <li>birth-date:</li>
          <li>e-mail</li>
          <li>mobile</li>
        </ul>
      </div>
      <div class="regular-S blue basicinfo">
        <ul>
          <li>{{student.bday}}</li>
          <li>{{student.email}}</li>
          <li>{{student.mobile}}</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="detail-information-heading">study information</div>
      <div class="detail-information-category">
        <ul>
          <li class="regular-S blue">study course</li>
          <li class="regular-S blue">study-progress</li>
          <li class="regular-S blue">student id</li>
          <li class="regular-S blue">going abroad</li>
        </ul>
      </div>
      <div class="detail-information-content basicinfo">
        <ul>
          <li>{{student.subject}}</li>
          <li>{{student.studyProgress}}</li>
          <li>{{student.id}}</li>
          <li>{{student.goingAbroad}}</li>
        </ul>
      </div>
    </div>
    <div>
      <div class="detail-information-heading">emergency contact</div>
      <div class="detail-information-category">
        <ul>
          <li>first name</li>
          <li>last name</li>
          <li>email</li>
          <li>mobile</li>
        </ul>
      </div>
      <div class="detail-information-content basicinfo">
        <ul>
          <li>emer</li>
          <li>gency</li>
          <li>emergency@thi.de</li>
          <li>0815 666666</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<!--{{student|json}}-->