<div class="exp" *ngIf="university">
    <div *ngFor="let experience of university.experiences">
        <a routerLink="/studyAbroad/{{university.id}}/experiences-detail">
            <div class="bold-L white">{{experience.student}}</div>
            <div class="large-M white">{{experience.course}}</div>
            <br>
            <div class="large-M black">{{experience.text}}</div>
            <div class="rating"> 
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i></div>
        </a>
    </div>
</div>