<div class="margin">


  <div class="contactData">
    <div>
      <img src="../../assets/images/profile/thi-logo.png" alt="profilepic">
      <div class="blue">
        <div>Do you have questions?</div>
        <div class="bold-L">Contact us!</div>
      </div>
    </div>
  </div>

  <div class="detailedcontactData Laufweite0">
    <div class="regular-S">
      <table>
        <tr>
          <td class="bold-S blue">any questions</td>
        </tr>
        <tr>
          <td>telefone</td>
          <td>+49 841 9348-0</td>
        </tr>

        <tr>
          <td>e-mail</td>
          <td>info@thi.de</td>
        </tr>
      </table>

      <table>
        <tr>
          <td class="bold-S blue">sending documents</td>
        </tr>
        <tr>
          <td>mailing address</td>
          <td></td>
        </tr>

        <tr>
          <td>post office box</td>
          <td>21 04 54</td>
        </tr>

        <tr>
          <td>85019</td>
          <td>Ingolstadt</td>
        </tr>

      </table>

      <table>
        <tr>
          <td class="bold-S blue">visiting THI</td>
        </tr>
        <tr>
          <td>visitor address</td>
          <td></td>
        </tr>

        <tr>
          <td>Esplanade </td>
          <td>10</td>
        </tr>

        <tr>
          <td>85049</td>
          <td>Ingolstadt</td>
        </tr>
      </table>
    </div>

  </div>


</div>