<section id="homeWelcomeSection">
    <div>
        <h1>
            Welcome
        </h1>
        <h2>
            scroll to explore
        </h2>
    </div>
</section>
<section id="homeNahanSection">
    <div class="homeTextWrapper">
        <div class="homeText">
            „I wanted to go abroad, because I love to see the world with all its natural wonders and cultures.
            Making experiences is on of the most important things in my live.“
        </div>
    </div>
</section>
<section id="homeWomanSection">
        <div class="homeTextWrapper">
            <div class="homeText">
            „Improving my language skills and discovering new angles of the world increases the value of my curriculum vita a lot. Finding a fullfilling job after studying is much easier.“
            </div>
        </div>
</section>