@import '../../assets/GlobalScss/var.scss';

/***************************/
/* LOGIN */
/***************************/

.login {
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 10010;
}

.login form {
    display: inline-block;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba($move-blue, 0.7);
}

#login-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
    color: white;
}

input:hover {
    border-color: rgba($move-orange, 0.5);
}

// button[type=button] {
//     margin-top: 100px;
//     background-color: $move-orange;
//     border: none;
//     color: white;
//     padding: 16px 32px;
//     text-decoration: none;
//     margin: 4px 2px;
//     cursor: pointer;
//     float: left;

//     font-size: 1em;
// }

.login-input-row {
    margin-bottom: 2em;
}

.login-input {
    width: 500px;
    position: absolute;
    left: 20em;
}


/***************************/
/* HOME */
/***************************/

section {
    top: 0px;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#home-welcome{
    background-image: url("../../assets/images/app-component/main.jpg");
    background-attachment: fixed;

    div {
        position: absolute;
        text-align: center;
        color: $move-orange;
        width: 100%;
        bottom: 20vh;
    }
}

#home-first-quote {
    background-image: url("../../assets/images/app-component/nahan.png");
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: block;
    height: 100vh;

    .home-quote-wrapper {
        position: absolute;
        top: 65vh;
        right: 10vw;
    }
}

#home-second-quote {
    background-image: url("../../assets/images/app-component/main2.jpg");
    position: absolute;
    top: 200vh;

    .home-quote-wrapper {
        position: absolute;
        top: 25vh;
        right: 10vw;
    }
}

.home-quote-wrapper{
    background-color: $move-blue;
    opacity: 0.7;
    width: 30vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.home-quote-text {
    line-height: 2em;
    font-style: italic;
    font-size: 1.1em;
    color: white;
    opacity: 1.0;
}