@import '../../../../assets/GlobalScss/var.scss';

.margin{
    margin: $margin-left-right;
}

.sidenav{
    background-color:$move-blue;
}

.exp {
    display: flex;
    flex-flow: row wrap;
  }

  .text-name{
      color: $text-color-bright; 
      font-size: $font-size-regular;
      line-height: 36pt;
      font-weight: semibold;

  }

  .exp > div {
    background-color: $move-light;
    width: 20%;
    margin: 10px;
    padding: 20px;
    text-align: left;
    
    
  }