<div *ngIf="university">
  <div class="margin flex-container">
    <div class="experiences">
      <app-experiences-boxes></app-experiences-boxes>
    </div>

    <div class="filter regular-S">
      <app-searchbar></app-searchbar>
      <div>
        <div class="filter-category bold-S ">
          Sorting
        </div>
        <div class="filter-points">
          <li [class.active]="sclicked === sorting" (click)="sclicked = (sclicked === sorting ? null :sorting)" *ngFor="let sorting of sortings">{{sorting}}</li>
        </div>
        <div class="filter-category bold-S ">
          Language
        </div>
        <div class="filter-points">
          <li [class.active]="lclicked === language" (click)="lclicked = (lclicked === language ? null :language)" *ngFor="let language of languages">{{language}}</li>
        </div>     
      </div>
    </div>

  </div>
</div>